@import './main.scss';
$purple:rgb(70,57,162);
nav{
    margin: 0 !important;
}

body{
    background-color: $purple;
}
.dash{
position: fixed;
max-height: 100vh;
top: 0;
}
.dash,.main-container{
    min-height: 95vh !important;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}
.dash{
    justify-content: flex-start !important;
color: white;
button{
    border: none !important;
    color: white !important;
    background: transparent !important;
    
}
.links{
    margin: 20vh auto;
    width: 85%;


    li{
        margin: 10px auto;
        width: 100%;

        padding: 10px ;
        text-align: left;
        padding-left: 20%;
border-radius: 12px;
        &:hover{
            transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
            background-color: white;
            a,button{
                color: black !important;
            }
        }
    }
 
        a,button{
        color: white;
        i{
            vertical-align: middle;
            padding-bottom: 5px;
        }
        font-size: 20px !important;
    }
 
}
}

.main-container{
    border-radius: 20px 0 0 20px;
    background-color: $bg;
    padding: 0;

}

.main-row{
    min-height: 50vh;
 
.col{
    padding: 10px;
 
   

}

    width: 90%;
}
.p-card{
    width: 100%;
    padding:0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.02),
  0 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 12.5px 10px rgba(0, 0, 0, 0.035),
  0 22.3px 17.9px rgba(0, 0, 0, 0.042),
  0 41.8px 33.4px rgba(0, 0, 0, 0.05),
  0 100px 80px rgba(0, 0, 0, 0.07)
;
    flex-direction: column;
    padding: 10px 0;
    border-radius: 12px;
    overflow: hidden;
    img{
        margin-bottom: 20px;
        display: inline-block;
        width: 100%;
        height: 300px;
        max-height: 300px;
        background-repeat: no-repeat;
        background-size: contain !important;
 
        vertical-align: top;
        position: inherit;
       background-position: center;
    }

    p{
        margin: 10px auto;
        width: 80% !important;
    }
a{
    margin: 15px 0 !important;
}
.btn-container{
    display: flex;
    justify-content: space-between;
    align-items: space-around;
}
span{
    font-weight: 800;
color: rgb(2, 134, 68);
}
    h2{
        padding: 0;
        margin: 0px auto;
        width: 80%;
        text-align: left;
        font-weight: 500;
        font-size: 20px;    
    }
    
}

