@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");
* {
  font-family: "Ubuntu", sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fafafa;
}

.brand-logo {
  font-family: "Spartan", sans-serif;
  font-size: 24px !important;
}

nav {
  min-height: 10vh;
  margin: 20px 0;
  padding: 10px !important;
}

nav button {
  margin: 10px !important;
}

.hero {
  width: 100%;
  border: 1px solid  #0D0D0D;
  min-height: 100vh;
  background-color: #0c0c0c;
}

.hero .col {
  min-height: 80vh;
}

.hero #hero-img {
  background-position: center;
  background-size: cover;
  background-image: url("./static/hero.jpg");
}

.hero #hero-txt {
  padding: 20px;
  color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero p {
  color: gray;
  font-size: 18px;
  width: 90%;
  line-height: 150%;
}

.hero .heading {
  font-size: 62px !important;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  margin: 25px 0;
}

.hero span {
  opacity: .6;
  font-weight: lighter;
  color: white;
  text-transform: capitalize;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0.4em;
}

.cta-button {
  background-color: #D97E4A;
  border: none;
  padding: 12px 30px;
  color: white;
  font-weight: bold !important;
  letter-spacing: 0.1em;
  font-size: 16px;
  margin: 30px 0;
  text-align: center;
  text-transform: capitalize !important;
}

.product-container {
  width: 100%;
  margin: 10vh auto;
}

.product-container .p-card {
  width: 90%;
  height: auto !important;
  padding: 20px;
  border-radius: 12px;
  background-color: rgba(128, 128, 128, 0.103);
  text-align: center;
}

.product-container .p-card:hover {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.product-container .p-card img {
  position: relative;
  margin-top: -50%;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 200px;
}

.product-container .p-card h2 {
  margin: 20px auto;
  font-size: 18px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  text-transform: uppercase !important;
}

.product-container .p-card a {
  color: black;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.product-container .p-card a i {
  font-size: 20px;
  color: #ff4848;
}

.product-container .col {
  padding: 10px;
  padding-top: 20vh !important;
}

.speaker-hero {
  width: 100%;
  padding: 0 10%;
  margin: 10vh auto;
  border-radius: 12px;
  background-color: #D97E4A;
}

.speaker-hero .col {
  padding: 10px;
  min-height: 70vh;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: whitesmoke;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.speaker-hero p {
  width: 75%;
  font-size: 18px;
  opacity: .7;
}

.speaker-hero h2 {
  font-size: 52px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}

.speaker-hero .cta-button {
  text-transform: uppercase !important;
  background-color: #0D0D0D;
}

.speaker-hero .cta-button:hover {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  color: black;
  background-color: white !important;
}

.speaker-hero img {
  -webkit-transform: scale(1.4, 1.4);
          transform: scale(1.4, 1.4);
  max-width: 100%;
}

.z-speaker {
  margin: 10vh auto;
  background-size: cover;
  background-position: top;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 12px;
  min-height: 50vh;
  background-image: url("./static/z7speaker.jpg");
}

.p-btn {
  margin: 20px 0;
  border: 1px solid black;
  background-color: transparent;
  color: black;
  font-size: 14px;
  padding: 12px 30px;
  letter-spacing: 0.1em !important;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}

.p-btn:hover {
  -webkit-transition: .3s ease;
  transition: .3s ease;
  background-color: #0D0D0D;
  color: white;
}

.p-heading {
  font-size: 28px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 20px 0;
}

.p-heading span {
  color: #D97E4A;
}

.y-headphone {
  width: 100%;
}

.y-headphone .y-card {
  min-height: 300px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
  width: 90%;
  background-color: rgba(128, 128, 128, 0.103);
  border-radius: 12px;
  text-align: center;
}

.y-headphone .img {
  background-size: cover;
  background-image: url("./static/pexels-soulful-pizza-3780681.jpg");
}

.exp-container {
  margin: 15vh auto;
  width: 100%;
}

.exp-container .p-heading {
  width: 80%;
  line-height: 125%;
}

.exp-container .col {
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.exp-container p {
  color: grey;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 150%;
  width: 80%;
}

.exp-container .img {
  background-size: cover;
  background-position: bottom center;
  background-image: url("./static/pexels-sound-on-3756752.jpg");
}

footer {
  color: white !important;
  width: 100%;
  min-height: 30vh;
  background-color: #0D0D0D;
  padding: 20px 0;
}

footer .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 !important;
}

footer .col i {
  font-size: 30px !important;
  margin: 10px !important;
}

footer p {
  opacity: .7;
}

@media screen and (max-width: 718px) {
  .hero .heading {
    font-size: 32px !important;
  }
  .hero .col {
    min-height: 50vh;
  }
  .speaker-hero .col {
    min-height: 50vh;
  }
  .speaker-hero .col img {
    -webkit-transform: scale(1.7, 1.7);
            transform: scale(1.7, 1.7);
  }
  .product-container .col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  * .row, .row {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

i {
  vertical-align: top;
}

* {
  padding: 0;
  margin: 0;
}

.form-container {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

.form-container .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.form-container .img {
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1526708286628-e9e0b57f84fa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80");
}

.form-container h2 {
  font-size: 30px;
  font-family: "Lato", sans-serif;
  margin: 20px auto;
}

.form-container p {
  color: black;
  font-size: 16px;
  margin: 10px auto;
}

.form-container button {
  padding: 12px 25px;
  background-color: #D97E4A;
  color: white;
  border: none;
  margin: 20px 0;
  font-weight: 600;
}

.form-container button i {
  font-size: 20px;
  padding: 0 5px;
}

.form-container form {
  width: 75%;
  margin: 0 auto;
}

.form-container form textarea, .form-container form input {
  width: 100%;
  border-radius: 12p;
  padding: 12px 5px !important;
  border: none;
  border-bottom: 1px solid black !important;
  background-color: transparent;
}

.form-container form textarea::-webkit-input-placeholder, .form-container form input::-webkit-input-placeholder {
  color: black;
}

.form-container form textarea:-ms-input-placeholder, .form-container form input:-ms-input-placeholder {
  color: black;
}

.form-container form textarea::-ms-input-placeholder, .form-container form input::-ms-input-placeholder {
  color: black;
}

.form-container form textarea::placeholder, .form-container form input::placeholder {
  color: black;
}

.new-button {
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #D97E4A;
  font-size: 16px;
  color: #fff;
}

input[type="file"] {
  position: absolute;
  z-index: -1;
  top: 6px;
  visibility: hidden;
  left: 0;
  font-size: 15px;
  color: #999999;
}

.button-wrap {
  position: relative;
}
